@import '~antd/dist/antd.css';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a{
    text-decoration:none;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 30px;
    font-size:16px;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix{zoom:1;}  
.clearfix:after {clear:both;content:'.';display:block;width: 0;height: 0;visibility:hidden;}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  
}
#root{
  height: 100%;
}
.ant-layout{
  background: #fff;
}
.ant-layout-header {
  background: #fff;
  padding:  0;
  height: 72px;
  line-height: 72px;
  width: 1200px;
  margin: 0 auto;
  
}
.ant-layout-content{
  background: #f5f6f7;
}
.ant-layout-footer{
  background: #fff;
  text-align: center;
  padding: 0;
  line-height: 50px;
  height: 50px;
  width: 1200px;
  margin: 0 auto;
}
.logo{
  width: 148px;
  height: 27px;
  display: inline-block;
  background: url('common/img/logo.png') no-repeat;
  position: relative;
  top: 12px;

}
.loginMes{
  float: right;
  font-size: 14px;
}
.loginMes .loginName{
  color:#aaafc1;
  margin: 0 10px;
}

.loginMes .exit{
  color:#dedede;
  margin: 0 14px;
}
.ant-menu-horizontal{
  background: #f5f6f7;
}
.ant-menu-horizontal > .ant-menu-item-selected,.ant-menu-horizontal > .ant-menu-item:hover{
  border-bottom: 2px solid #e77499;
  color: rgba(0, 0, 0, 0.65);
}
.ant-menu-item, .ant-menu-submenu-title{
  padding: 0 10px;
  margin: 0 20px 0 0;
    color: #9da1b2;
   
}