.contentWarp {
    border-radius: 15px;
    width: 1290px;
    padding: 50px 40px;
    background: #fff;
    margin: 20px auto;
    -moz-box-shadow: 0px 5px 5px #888;
    /* 老的 Firefox */
    box-shadow: 0px 5px 5px #888;
}

.table {
    width:1200px;
    margin:0 auto;
}

.index,
.ant-layout {
    height: 100%;
}

.ant-table table th,
td {
    text-align: center;
    color: #666;
}

.pagin {
    margin-top: 20px;
    width: 355px;
    margin: 20px auto 0;
}

/* .index .addBtn .ant-btn-primary {
    background-color: #e77499;
    border-color: #e77499;
    border-radius: 16px;
    padding: 0 20px;
}
.index .ant-btn-primary:hover{
    background-color: #f28e8e;
    border-color: #f28e8e;
   
} */

.addBtn {
    position: absolute;
    top:10px;
    right: 10px;

}